include ../components/header

.container

    a.btn.btn-primary.container--btn(href="/student/create") Thêm mới

    table.table
      thead
        tr
          th(scope='col') STT
          th(scope='col') Ảnh
          th(scope='col') Họ tên
          th(scope='col') Ngày sinh 
          th(scope='col') Quê quán
          th(scope='col') Số điện thoại
          th(scope='col') Khối
          th(scope='col') Lớp
          th(scope='col') Chức năng
      tbody
        each value,index in data
          tr
            th(scope='row')=index+1
            td
              .student--image(style='background-image: url(/uploads/' + value.image + ")")
            td=value.name
            td.age=time[index]
            td=value.address 
            td=value.phone
            td=value.grade 
            td=value.className
            td
              .btn.btn-warning.btn--update(data-id=value._id) Chỉnh sửa
              .btn.btn-danger.btn--delete(data-id=value._id) Xóa


script(src="/statics/scripts/date.js") 
script(src="/statics/scripts/delete.js") 

